<div class="header">
    <div class="logo"></div>
    <div class="header_left">
        xx-后台管理系统 
    </div>
    <div class="heared_right">
        <p>欢迎您 - <%-nickname %> <%-isAdmin %></p>
        <a href="/users/logout" >[  <span>退出</span>  ]</a><a href="/" style="margin-left:5px">[ <span>主页</span> ]</a>
    </div>
</div>