<ul class="menu">
    <% if (isAdmin) {%>
        <li>
            <a href="/user-manager.html" class="user">用户管理</a>
         </li>
    <% } %>
    <li>
        <a href="/moblie-manager.html" class="phoneList">手机管理</a>
    </li>
        <li>
            <a href="/phone-type.html" id="phonetype">品牌管理</a>
        </li>
</ul>